.transaction-dashboard-main ul.MuiList-root {
  background-image: linear-gradient(
    to right,
    rgb(47, 46, 50) 50px,
    rgb(56, 55, 61) 50px,
    rgb(56, 55, 61)
  );
  overflow: hidden;
  max-width: 230px;
  display: flex;
  margin: 0px;
  list-style: none;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(77, 76, 82);
  height: 100vh;
  align-items: flex-start;
  flex-flow: column;
  width: 100%;
  flex: 100%;
}
.transaction-dashboard-main .Sidebarflex {
  max-width: 230px;
  width: 100%;
}
.transaction-dashboard-main .transaction-dashboard {
  max-width: calc(100% - 230px);
  width: 100%;
  margin-left: auto;
  padding: 20px 25px;
  background: #f2f3f7;
}

ul.MuiList-root li {
  padding: 0;
}

ul.MuiList-root li .MuiListItemIcon-root {
  display: flex;
  flex-shrink: 0;
  width: 50px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

ul.MuiList-root li .MuiListItemText-root span {
  padding-left: 15px;
  white-space: nowrap;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: #f9f9fa;
  font-size: 14px;
  line-height: 38px;
}

ul.MuiList-root li .MuiListItemText-root {
  max-width: calc(100% - 56px);
  width: 100%;
}

ul.MuiList-root li .MuiListItemIcon-root svg path {
  fill: rgb(247, 246, 248);
}

.transaction-dashboard-main .transaction-dashboard > div {
  padding: 0px;
}

.transaction-dashboard-main .transaction-dashboard section {
  border: 0;
  margin: 0 0 20px;
  padding: 25px 30px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
}

.transaction-dashboard-main .transaction-dashboard section h1 {
  color: rgb(56, 55, 61);
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  padding: 15px 0px;
}

.transaction-dashboard-main .transaction-dashboard section .sidefilter,
.transaction-dashboard-main .transaction-dashboard section .fiterwrap svg {
  position: absolute;
  right: 36px;
  top: 25px;
  color: rgb(96, 189, 178);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4666;
  cursor: pointer;
}

.transaction-dashboard-main .transaction-dashboard section .fiterwrap svg {
  right: 77px;
  top: 25px;
  font-size: 20px;
}

.transaction-dashboard-main {
  display: flex;
}
.transaction-dashboard-main .transaction-dashboard section > div:last-child {
  display: flex;
}
.transaction-dashboard-main .transaction-dashboard section > div:last-child {
  display: flex;
  align-items: flex-start;
}

hr.MuiDivider-root.MuiDivider-fullWidth.css-9mgopn-MuiDivider-root {
  display: none;
}

.transaction-dashboard-main
  .transaction-dashboard
  section
  > div:last-child
  .Worlmapwrap {
  max-width: calc(100% - 380px);
  width: 100%;
}

.Worlmapwrap figure.worldmap__figure-container {
  margin: 0px !important;
}

.Worlmapwrap figure.worldmap__figure-container svg {
  width: 100%;
}
.transaction-dashboard-main
  .transaction-dashboard
  section
  > div:last-child
  .app-wrap-sec {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.transaction-dashboard-main
  .transaction-dashboard
  section
  > div:last-child
  .app-wrap-sec
  .Approve {
  width: 100%;
}

.app-wrap-sec .Aprovewrap,
.app-wrap-sec .Declinewrap {
  max-width: calc(100% / 2);
  width: 100%;
}
.app-wrap-sec .Aprovewrap p,
.app-wrap-sec .Declinewrap p {
  margin: 0;
  text-transform: uppercase;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: rgb(124, 122, 133);
  margin: 0px;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.app-wrap-sec .Aprovewrap p:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 21%;
  width: 10px;
  height: 10px;
  background-color: rgb(96, 189, 178);
  border-radius: 50%;
  transform: translateY(-50%);
}

.app-wrap-sec .Declinewrap p:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 21%;
  width: 10px;
  height: 10px;
  background-color: rgb(231, 99, 95);
  border-radius: 50%;
  transform: translateY(-50%);
}

.app-wrap-sec .Aprovewrap p.active {
  border-bottom: 2px solid rgb(96, 189, 178);
  cursor: pointer;
}

.app-wrap-sec .Declinewrap p.active {
  border-bottom: 2px solid;
}

.app-wrap-sec .Declinewrap p.decline-data.active {
  border-bottom: 2px solid rgb(231, 99, 95);
  cursor: pointer;
}
.transaction-dashboard-main
  .transaction-dashboard
  section
  > div:last-child
  .app-wrap-sec
  > div {
  width: 100%;
}

.transaction-dashboard-main
  .transaction-dashboard
  section
  > div:last-child
  .app-wrap-sec
  > div
  sapn {
  max-width: 100%;
  padding: 10px;
  min-height: 40px;
  font-size: 14px;
  line-height: 14px;
  border-bottom: 1px solid rgb(225, 225, 225);
  display: flex;
  color: rgb(124, 122, 133);
  align-items: center;
}
.trans-sec .transaction-bar,
.trans-wrap .Transaction-wrap {
  max-width: calc(100% - 380px);
  width: 100%;
}
.transaction-dashboard-main .Sidebarflex ul.MuiList-root {
  position: sticky;
  top: 0;
}
.transaction-dashboard-main .Sidebarflex ul.MuiList-root {
  position: sticky;
  top: 0;
}

.trans-sec .amount-rawdata-main,
.trans-wrap .marked-box {
  max-width: 380px;
  width: 100%;
}

.trans-sec .Countprogress {
  width: 100%;
}

.trans-sec .amount-rawdata-main .amount-rawdata-inner {
  display: flex;
}

.trans-sec .amount-rawdata-main .amount-rawdata-inner button {
  max-width: calc(100% / 2);
  width: 100%;
  background-color: transparent;
  border: 0;
  font-weight: 400;
  line-height: 1.75;
  white-space: normal;
  letter-spacing: 0;
  text-transform: none;
  color: inherit;
  opacity: 0.7;
  font-size: 14px;
  padding: 8px 0px;
}

.trans-sec .amount-rawdata-main .amount-rawdata-inner button.active,
.trans-sec .amount-rawdata-main .amount-rawdata-inner button:hover {
  border-bottom: 2px solid rgb(96, 189, 178);
}
.trans-sec .amount-rawdata-main br {
  display: none;
}
.trans-sec .Countprogress h5 {
  margin: 0;
  font-size: 12px;
  padding: 20px 0px 20px 20px;
  line-height: 1.5;
  color: rgb(124, 122, 133);
  letter-spacing: 1px;
  position: relative;
}
.trans-sec .Countprogress h5:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.trans-sec .Countprogress h5.dotapprove:after {
  background-color: rgb(96, 189, 178);
}
.trans-sec .Countprogress h5.dotreview::after {
  background-color: rgb(232, 209, 114);
}
.trans-sec .Countprogress h5.dotdecline:after {
  background-color: rgb(231, 99, 95);
}
.trans-sec .Countprogress span {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285;
  color: rgb(175, 176, 179);
  margin: 0px;
  max-width: 50px;
  width: 100%;
  display: inline-block;
}
.trans-sec .Countprogress span.countinner {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  color: rgb(124, 122, 133);
  margin: 0px;
  max-width: calc(100% - 50px);
  width: 100%;
  display: inline-block;
  margin-right: auto;
  text-align: right;
}
.total-num-cont span {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  color: rgb(56, 55, 61);
  margin: 0px;
}
.total-num-cont h5 {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4285;
  color: rgb(124, 122, 133);
  margin: 0px;
}
.total-num-cont {
  padding: 20px 50px;
}
.trans-wrap {
  justify-content: space-between;
}
.trans-wrap .marked-box select {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  padding-right: 30px;
  font-size: 16px;
  color: rgb(124, 122, 133);
  outline: none;
  cursor: pointer;
}
.trans-wrap .marked-box label {
  position: absolute;
  top: 19px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  transform: translateY(-50%);
  right: 42%;
}
.trans-wrap .marked-box {
  position: relative;
}
.trans-wrap .marked-box h5 {
  padding: 15px 0px;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4285;
  color: rgb(124, 122, 133);
}
.MuiPaper-root.MuiPaper-elevation {
  box-shadow: none;
  flex-wrap: wrap;
}

/* .MuiPaper-root.MuiPaper-elevation .MuiToolbar-gutters {
  width: 100%;
  margin-top: -69px;
  margin-left: 0px;
} */
.MuiPaper-root.MuiPaper-elevation .MuiToolbar-gutters {
  width: 100%;
  /* margin-top: -120px;
  margin-left: 0px;
  margin-right: 76px; */
}
.MuiPaper-root.MuiPaper-elevation .tss-1cdcmys-MUIDataTable-responsiveBase {
  width: 100%;
}
.MuiPaper-root.MuiPaper-elevation table th,
.MuiPaper-root.MuiPaper-elevation table td {
  border-bottom: 1px solid rgb(231, 231, 232);
  padding: 10px;
  line-height: 34px;
}
.MuiPaper-root.MuiPaper-elevation table th span {
  text-transform: uppercase;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: rgb(124, 122, 133);
  margin: 0px;
}
.MuiPaper-root.MuiPaper-elevation table th button {
  font-size: 12px;
  width: 100%;
  justify-content: flex-start;
  padding-left: 20px;
  position: relative;
}
.MuiPaper-root.MuiPaper-elevation table tr th:nth-child(3) button:after,
.MuiPaper-root.MuiPaper-elevation table th:nth-child(4) button:after,
.MuiPaper-root.MuiPaper-elevation table th:nth-child(5) button:after {
  position: absolute;
  top: 50%;
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  transform: translateY(-50%);
  left: 0;
}
.dashboard-rules .MuiPaper-root.MuiPaper-elevation table tr th:nth-child(3) button:after{
  background-color: rgb(96, 189, 178);
  }
  .dashboard-rules .MuiPaper-root.MuiPaper-elevation table th:nth-child(4) button:after {
    background-color: rgb(232, 209, 114);
  }
  .dashboard-rules .MuiPaper-root.MuiPaper-elevation table th:nth-child(5) button:after {
    background-color:rgb(231, 99, 95)
  }
.MuiPaper-root.MuiPaper-elevation table th:last-child button,
.MuiPaper-root.MuiPaper-elevation table th:first-child button {
  padding-left: 10px;
}
.slidefilter-popup-main {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  margin-bottom: 10px;
}

.slidefilter-popup-main select {
  margin: 0;
  height: 48px !important;
  font-size: 16px;
}
.slidefilter-popup-main
  .date-filter-main
  .date-filter-startdate
  .date-selectdiv {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.datePickerBlockA {
  padding: 9px;
  box-shadow: 0 0 0 #000, 1px 4px 10px 0px #c5c5c5;
  border-radius: 5px;
  background: #fff;
  z-index: 1;
  position: relative;
}
.slidefilter-popup-main
  .date-filter-main
  .date-filter-startdate
  .date-selectdiv
  .rdrDateRangePickerWrapper
  .rdrCalendarWrapper.rdrDateRangeWrapper
  .rdrDateDisplay {
  margin: 0;
}
.slidefilter-popup-main .status-country-filter {
  grid-column-gap: 20px;
}
.slidefilter-popup-main .status-country-filter .status-filter,
.slidefilter-popup-main .status-country-filter .country-filter {
  max-width: calc(100% / 2 - 10px);
  width: 100%;
  flex: calc(100% / 2 - 10px);
}
.slidefilter-popup-main .date-filter-main {
  grid-column-gap: 20px;
}
.slidefilter-popup-main .apply-reset-btnt {
  display: flex;
}
.slidefilter-popup-main .apply-reset-btnt .reset-btn-mainn button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4666;
  color: rgb(255, 255, 255);
  background-color: rgb(96, 189, 178);
  border: none;
  padding: 0px 30px;
  border-radius: 99px;
  height: 45px;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
}
.slidefilter-popup-main .apply-reset-btnt .apply-btn-mainn button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4666;
  color: rgb(96, 189, 178);
  background-color: transparent;
  border: 1px solid rgb(96, 189, 178);
  padding: 0px 35px;
  border-radius: 99px;
  height: 45px;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
}
.Date-Last {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgb(238, 238, 238);
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 7px 22px;
  color: rgb(124, 122, 133);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.ant-picker.ant-picker-range.css-dev-only-do-not-override-nnuwmp {
  margin: -10%;
  max-width: 103%;
  width: 103%;
  margin-left: -10px;
}

/* .statethreshold .marked-box h5 {
  padding: 15px 0px;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4285;
  color: rgb(124, 122, 133);
} */
/* 31Aug */
.stats-transaction-button {
  display: flex;
  align-items: center;
  background: #fff;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
.stats-transaction-button * {
  margin: 0;
}
.stats-transaction-button button {
  margin: 0 0 0 auto;
  background: transparent;
  border: 0;
  font-size: 18px;
}
.stats-transaction-button p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(124, 122, 133);
  margin: 0px;
}
.stats-transaction-button span {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgb(124, 122, 133);
  margin: 0px 5px 0px 20px;
}
.stats-transaction-button span + span {
  color: #000;
}
.transaction-table-inner {
  padding: 15px 0;
  background: #fff;
  background: rgb(255, 255, 255);
  position: relative;
  overflow: auto;
  width: 100%;
  -webkit-box-flex: 1;
  flex-grow: 1;
  border-radius: 4px;
  margin-bottom: 15px;
}
.p-25 {
  padding: 25px;
}
.bgWhite {
  background-color: #fff;
}
.transaction-table-inner table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  display: table;
}
.transaction-table-inner table thead tr th {
  padding: 8px 15px;
  text-transform: uppercase;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: rgb(40, 42, 46);
  margin: 0px;
}

.transaction-table-inner table tr td {
  padding: 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(124, 122, 133);
  margin: 0px;
  border-bottom: 1px solid rgb(231, 231, 232);
}
.transaction-table-inner table tr:hover {
  background: rgb(248, 248, 248);
  cursor: pointer;
}
.transaction-data-main {
  background: #fff;
  /* padding: 15px; */
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
}
.totalScoreActive .transaction-data-main {
  padding: 15px;
}
.transaction-data-main span {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(124, 122, 133);
  margin: 0px;
}
.totalScoreActive .stats-transaction-button {
  border-bottom: 1px solid rgb(231, 231, 232);
}
.transaction-data-main .count-amount .total-transaction span + span {
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  color: rgb(56, 55, 61);
  margin: 0px;
}
.transaction-data-main .scores-main .commanScore {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  border-bottom: 1px solid rgb(231, 231, 232);
}
.totalScoreActive .transaction-data-main {
  padding: 15px;
}

.top-headder-back-main {
  margin: -25px -25px 15px -25px;
  display: flex;
  align-items: center;
  background: #fff;
}
.top-headder-back-main .harder-tabs-main {
  max-width: calc(100% - 300px);
  margin: 0 0 0 auto;
  width: 100%;
}
.top-headder-back-main .harder-tabs-main ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}
.top-headder-back-main .harder-tabs-main ul li {
  padding: 21px 15px;
}
.top-headder-back-main .harder-tabs-main ul li {
  padding: 10px 15px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  min-width: fit-content;
  min-height: initial;
  color: rgb(124, 122, 133);
  border-bottom: 2px solid transparent;
  opacity: 1;
  text-transform: capitalize;
}
.top-headder-back-main > a {
  width: 100%;
  max-width: 300px;
  display: block;
  height: 100%;
  padding: 15px;
}
.top-headder-back-main .harder-tabs-main ul li.active {
  border-color: rgb(96, 189, 178);
}

.transactionlist-detail-main .all-transaction {
  background: #fff;
}
.transactionlist-detail-main {
  display: flex;
  margin: 0px -25px 15px -25px;
  gap: 25px;
  flex-wrap: wrap;
}
.transaction-detail-main {
  flex: calc(100% - 250px);
}
.transactionlist-detail-main .all-transaction .transaction-inner {
  height: 100vh;
  overflow: auto;
}
.transactionlist-detail-main
  .all-transaction
  .transaction-inner
  .allTransHalfB {
  margin: 0;
}
.transactionlist-detail-main
  .all-transaction
  .transaction-inner
  .allTransHalfB {
  display: flex;
  justify-content: space-between;
  padding: 11px 16px;
  border-bottom: 1px solid rgb(231, 231, 232);
  margin: 0;
  cursor: pointer;
}
.transactionlist-detail-main
  .all-transaction
  .transaction-inner
  .allTransHalfB
  .email-id-main
  span {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285;
  color: rgb(124, 122, 133);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  white-space: normal;
  overflow: hidden;
  word-break: break-word;
  min-width: 0px;
  max-width: 160px;
}
.transactionlist-detail-main .all-transaction {
  background: #fff;
  /* height: 100vh; */
  /* overflow: auto; */
  width: 100%;
  max-width: 220px;
  margin-top: -15px;
}
.transactionlist-detail-main
  .all-transaction
  .transaction-inner
  .allTransHalfB
  .score-status-main
  span {
  font-size: 12px;
  text-transform: uppercase;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  color: rgb(124, 122, 133);
  margin: 0px;
}
.transactionlist-detail-main
  .all-transaction
  .transaction-inner
  .allTransHalfB
  .score-status-main
  span
  + span {
  display: inline-block;
  width: 10px;
  height: 10px;
  /* background: beige; */
  border-radius: 50%;
}
.transactionlist-detail-main
  .all-transaction
  .transaction-inner
  .allTransHalfB
  .email-id-main {
  max-width: 144px;
}
.transactionlist-detail-main
  .all-transaction
  .transaction-inner
  .allTransHalfB
  .score-status-main {
  flex: calc(100% - 144px);
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
.transactionlist-detail-main
  .all-transaction
  .transaction-inner
  .allTransHalfB
  .email-id-main
  span
  + span {
  font-size: 12px;
  color: #afafaf;
}
.transaction-summary-card {
  background: #fff;
}
.transaction-summary-card .text-button-main {
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transaction-summary-card .text-button-main > span {
  color: rgb(56, 55, 61);
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
}
.transaction-summary-card .text-button-main .mark-button button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4666;
  color: rgb(255, 255, 255);
  background-color: rgb(96, 189, 178);
  border: none;
  padding: 0px 40px;
  border-radius: 99px;
  height: 40px;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;
}

.item-section {
  margin: 15px 0;
}
.item-section .text-main {
  padding: 25px 0px;
}

.item-section table thead tr th {
  text-align: center;
}
.item-section table tbody tr td {
  padding: 10px;
}
.headingB {
  color: rgb(56, 55, 61);
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
}

.item-section .scores-appliedRule-main .customer_sec {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.item-section .scores-appliedRule-main .customer_sec .score-email-main {
  width: 100%;
  max-width: 180px;
  border-right: 1px solid #f2f2f2;
  padding-right: 25px;
}
.item-section
  .scores-appliedRule-main
  .customer_sec
  .score-email-main
  .frod-score-main
  span.email-score {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  color: rgb(124, 122, 133);
  margin: 0px;
}
.scoreBarBoard {
  margin: 15px 0;
}
.scoreBarBoard .email-score.score-holder span.scores-main-all {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(124, 122, 133);
  margin: 0px;
}
.scoreBarBoard .email-score.score-holder {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 10px;
}
.scoreBarBoard .email-score.score-holder span.score-text {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285;
  color: rgb(175, 176, 179);
  margin: 0px;
}
.aplied-rules-main .text-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aplied-rules-main .text-filters .filter-data select {
  border: 0;
  background: transparent;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4666;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  max-width: 100%;
  color: rgb(124, 122, 133);
}
.pdfButton {
  flex: 0 0 100%;
}
.aplied-rules-main {
  width: 100%;
  padding: 15px;
}
.aplied-rules-main table tbody tr td:nth-last-child(-n + 2) {
  width: 80px;
  color: rgb(231, 99, 95);
}
.aplied-rules-main table tbody tr td:nth-last-child(-n + 2) svg path {
  fill: rgb(96, 189, 178);
}

/* 01/09/23 */
.list-identity-section-main .col-md-6.col-12 {
  border-radius: 3px;
  /* border: 1px solid rgb(231, 231, 232); */
  background: #fff;
  margin: 20px 0;
}
.list-identity-section-main .progressbar-email {
  margin-top: 10px;
}
.list-identity-section-main dd.identity-score span {
  font-size: 20px !important;
  /* padding-bottom: 10px !important; */
  font-weight: 300;
}
.addresses-emaildata-main .row {
  /* display: flex; */
  gap: 20px;
}
.addresses-emaildata-main .col-md-6.col-12 {
  border-radius: 3px;
  /* border: 1px solid rgb(231, 231, 232); */
  /* background: #fff; */
  margin: 20px 0;
  max-width: 49%;
  flex: 0 0 49%;
  padding: 0;
}
.phone-ip-main {
  background: #fff;
  padding: 25px 30px;
  margin: 20px 0;
}
.address-card {
  background: #fff;
  padding: 25px 30px;
}
.transactionlist-detail-main {
  height: 100%;
}
.email-info-main.tds-page {
  background: #fff;
  padding: 25px 30px;
}
.phone-column.col-md-6.col-12 {
  border-radius: 5px;
  max-width: 40%;
  flex: 0 0 40%;
  padding: 25px 30px;
  background: #fff;
}
.addresses-emaildata-main .lat-long {
  display: flex;
}
.lat-long dd {
  margin: 0;
  padding-left: 10px;
}
.addresses-emaildata-main span.geological-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(56, 55, 61);
  margin: 0px;
}
.geological-text-main span {
  width: 100%;
  display: block;
  padding-bottom: 3px;
  color: rgb(124, 122, 133);
  font-size: 16px;
}
dl.lat-long-main {
  margin-top: 0px;
}
dl.lat-long-main dt {
  padding-bottom: 3px;
  color: rgb(124, 122, 133);
  font-size: 16px;
}
dl.lat-long-main dd {
  /* padding-bottom: 3px; */
  color: rgb(124, 122, 133);
  font-size: 16px;
}
/* .address-column.col-md-6.col-12 {
  height: 245px;
} */
dd.progress-email {
  margin: 0;
}
.customer-email span {
  width: 100%;
  display: block;
  padding-bottom: 7px;
}
.customer-email {
  border: none;
}
.email-link-main {
  display: flex;
  justify-content: space-between;
}
.customer-email span.used-transaction {
  color: rgb(175, 176, 179);
  font-size: 12px;
}
.customer-email span.used-email {
  font-weight: 500;
  color: rgb(56, 55, 61);
  font-size: 16px;
}
.search-google-dd {
  color: rgb(96, 189, 178);
}
.search-google-dd a {
  font-size: 13px;
}
.search-google-dd svg {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}
.progress-email .progressbar-phone div {
  height: 5px !important;
  /* margin-top: 10px; */
}
.progress-email .progressbar-phone {
  margin-top: 10px;
}
.progress-email .phone_score_inner_sec_left span {
  font-size: 16px;
  font-weight: 400;
}
dl.email-delieverables {
  display: flex;
  align-items: center;
}
dl.email-delieverables dt {
  max-width: 30%;
  flex: 0 0 30%;
  color: rgb(56, 55, 61);
}
dl.email-delieverables p {
  color: rgb(124, 122, 133);
}

.email-info-main.tds-page .data-breaches-bottom-main dl.breaches dt {
  color: rgb(56, 55, 61);
}
.email-content.tdspage .socialActive.col-md-12.col-12 {
  padding: 0px !important;
}
.email-content.tdspage .googleProflePic.socialActive {
  border-radius: 0px !important;
}
.phone-content.email-content.tdspage.googleProflePic.socialActive {
  border-radius: 0px !important;
}
.skype-detail-main {
  border: 1px solid #ddd;
  margin-bottom: 15px;
}
.skype-detail-main .skype-details {
  padding: 0 10px;
}
.skype-detail-main .google-details {
  padding: 0 10px;
}
.skype-detail-main .gravtr-details {
  padding: 0 10px;
}
.skype-detail-main .linkedin-user-detail {
  padding: 0 10px;
}
.socialActive.tds.col-md-6.col-12 {
  padding: 0px !important;
}
.googleProflePic.socialActive.tdsPage {
  width: 50px !important;
}
.not-detail-customers.transds-page .socialActive {
  flex: 0 0 15% !important;
}
.not-detail-customers.transds-page {
  flex: 0 0 100%;
  justify-content: flex-start;
  padding-left: 0px !important;
}
.drop-main {
  display: flex;
  width: 100%;
}
button.world-tds svg {
  width: 32px !important;
  height: 22px !important;
}
.icon-text .trds svg {
  width: 21px !important;
  height: 21px !important;
}
button.world-tds span {
  font-size: 16px;
  font-weight: 600;
  width: 50%;
}
.googleProflePic.socialActive.tdsPage {
  border-radius: 0;
}
/* .googleProflePic.socialActive.tdsPage.notReg {
  background: rgb(238, 238, 238);
} */

/* 04/09/23 */
span.refresh-button {
  border-radius: 25px;
  border: 1px solid rgb(96, 189, 178);
  max-width: 130px;
  height: 35px;
  padding: 8px;
  width: 100%;
  text-align: center;
  color: rgb(96, 189, 178);
  cursor: pointer;
}
.not-online-main .col {
  font-size: 0;
  margin-bottom: 10px;
}

.email-not-registered.row.gutters.row-social .not-online-main svg {
  color: rgb(124, 122, 133) !important;
  padding: 4px;
  margin-right: 10px;
  margin-left: 0;
  background: #d7d9e1;
}
.not-online-main {
  display: flex;
  flex-wrap: wrap;
}
.not-online-main .col {
  max-width: 10%;
  flex: 0 0 10%;
}
.ip-dat-main {
  background: #fff;
  padding: 25px 30px;
}
dt.heading-main {
  font-size: 16px;
  color: rgb(56, 55, 61);
  font-weight: 400;
  line-height: 1.5;
}
dd.head-data-main {
  /* padding-right: 13px; */
  font-size: 16px;
  color: rgb(124, 122, 133);
  font-weight: 400;
  line-height: 1.5;
}
.response-coppy-button {
  display: flex;
  justify-content: space-between;
}
.coppy-button button {
  /* background: rgb(96, 95, 100); */
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  top: 154px;
  right: 24px;
  background: rgb(96, 95, 100);
  color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid transparent;
  user-select: none;
}

.ip-data-1st-section,
.ip-data-2nd-section {
  border-bottom: 1px solid #ddd;
}
.drop-main dd {
  font-size: 14px;
}
.drop-main dt.heading-main {
  width: 32%;
  /* font-size: 14px; */
}
span.back-tt {
  font-size: 16px;
  color: #333;
  margin: 0;
  position: relative;
  top: -4px;
}
.back-btn-tdspage a {
  cursor: pointer;
}
.MuiFormControl-root.transaction-status-decline {
  min-width: 130px;
  border-style: none;
  border-radius: 99px;
  padding: 4px 12px;
  background-color: rgb(252, 237, 236);
  min-height: 32px;
}
.MuiFormControl-root.transaction-status-decline fieldset {
  border: none;
}
.MuiFormControl-root.transaction-status-approve {
  min-width: 130px;
  border-style: none;
  border-radius: 99px;
  padding: 4px 12px;
  background-color: rgb(96 189 178 / 27%);
  min-height: 32px;
}
.MuiFormControl-root.transaction-status-approve fieldset {
  border: none;
}
.MuiFormControl-root.transaction-status-review {
  min-width: 130px;
  border-style: none;
  border-radius: 99px;
  padding: 4px 12px;
  background-color: rgb(254, 250, 233);
  min-height: 32px;
}
.MuiFormControl-root.transaction-status-review fieldset {
  border: none;
}
.MuiFormControl-root.transaction-status-review
  .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMarginDense.MuiOutlinedInput-inputMarginDense {
  padding: 8px 0 3px;
}
.MuiFormControl-root.transaction-status-decline
  .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMarginDense.MuiOutlinedInput-inputMarginDense {
  padding: 8px 0 3px;
}
.MuiFormControl-root.transaction-status-approve
  .MuiSelect-root.MuiSelect-select.MuiSelect-selectMenu.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMarginDense.MuiOutlinedInput-inputMarginDense {
  padding: 8px 0 3px;
}
.decline-select.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button
  span:first-child {
  background: rgb(228, 79, 64);
  width: 10px;
  border-radius: 50%;
  height: 10px;
  margin: 0 5px;
}
.approve-select.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button
  span:first-child {
  background: rgb(128, 137, 156);
  width: 10px;
  border-radius: 50%;
  height: 10px;
  margin: 0 5px;
}
.review-select.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button
  span:first-child {
  background-color: rgb(240, 200, 36);
  width: 10px;
  border-radius: 50%;
  height: 10px;
  margin: 0 5px;
}
.text-email-filter-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 10px 0;
}
.text-email h3 {
  margin-bottom: 0;
}
.text-email-filter-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 10px 0;
}
.customer-activity-inner {
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.text-email-filter-main .MuiFormControl-root {
  max-width: 200px;
  width: 100%;
}
.text-email-filter-main span {
  color: rgb(128, 137, 156);
}
.response-coppy-button {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    rgb(47, 46, 50) -33px,
    rgb(56, 55, 61) 50px,
    rgb(56, 55, 61)
  );
  color: #fff;
  padding: 10px;
}
.coppy-button button {
  margin: 68px 20px;
}
.response-text {
  background: #fff;
  padding: 10px;
}
.harder-tabs-main ul li {
  cursor: pointer;
}
.response-text span {
  font-size: 24px;
  margin-bottom: 8px;
  display: block;
}
.pdfButton button {
  border: none;
  background: none;
  color: rgb(0, 193, 182);
  font-size: 15px;
}
span.pdf-icon svg {
  fill: rgb(0, 193, 182);
  font-size: 18px;
}
span.complete-text {
  /* color: rgb(96, 189, 178) !important; */
  /* background: rgb(96, 189, 178); */
  text-transform: uppercase;
  /* font-family: Inter, Helvetica, Arial, sans-serif; */
  font-weight: 600;
  font-size: 11px !important;
  line-height: 13px;
  letter-spacing: 0.4px;
  display: inline-flex;
  height: 15px;
  padding: 1px 4px;
  border-radius: 3px;
  color: rgb(0, 154, 146) !important;
  background-color: rgb(230, 249, 248);
  white-space: nowrap;
  /* color: rgb(96, 189, 178) !important; */
  /* background: rgb(96, 189, 178); */
  text-transform: uppercase;
  /* font-family: Inter, Helvetica, Arial, sans-serif; */
  font-weight: 600;
  font-size: 11px !important;
  line-height: 13px;
  letter-spacing: 0.4px;
  display: inline-flex;
  height: 15px;
  padding: 1px 3px;
  border-radius: 3px;
  color: rgb(0, 154, 146) !important;
  background-color: rgb(230, 249, 248);
  white-space: nowrap;
  margin-right: 654px !important;
}
/* 04/09/23 */
/* 08/09/23 */
.customerconnection .text-user span {
  margin-top: 20px;
  margin-left: 6px;
  color: rgb(82, 87, 97);
  font-weight: 500;
}
.connection-basedon-section {
  padding: 0px 17px;
}

.customerconnection .text-user {
  display: flex;
}

/* 08/09/23 */
/* 11/09/23 */
.setting-button {
  position: absolute;
  top: 174px;
  z-index: 99999;
  right: 23px;
  left: auto;
  cursor: pointer;
}
.text-close-btn-tms span {
  cursor: pointer;
}
.setting-pop-inner {
  background: #fff;
  max-width: 432px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
  position: relative;
}
.back-btn-tdspage {
  position: relative;
  left: 28px;
}
span.back-tt {
  font-size: 14px;
  color: rgb(82, 87, 97);
}
.connection-basedon-connected-customer-main {
  display: flex;
  justify-content: space-between;
}
.connection-basedon-section {
  max-width: 50%;
  flex: 0 0 50%;
}
.baseddata-right.section {
  max-width: 50%;
  flex: 0 0 50%;
}
.connection-basedon-section h2 {
  font-size: 15px;
}
.data-transaction-user-data-point {
  border-bottom: 1px solid #ddd;
  max-width: 380px;
  display: flex;
  padding: 12px 0;
}
.setting-popup-main {
  position: fixed;
  z-index: 99;
  background: #0000007d;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100%;
}
.connection-basedon-section .headding-data {
  text-transform: capitalize;
}
.connection-basedon-section .field-data span {
  color: #333;
  font-size: 14px;
}
.baseddata-right.section h3 {
  font-size: 15px;
}
.not-data-class {
  padding: 10px;
  font-size: 14px;
}
.connection-basedon-section .field-data {
  padding-left: 10px;
}
.user-data-icon-text {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 7px;
  display: flex;
}
.user-icon {
  margin-right: 8px;
  background-color: rgb(236, 238, 242);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.user-data-icon-text span {
  font-size: 13px;
  color: rgb(82, 87, 97);
}
.name-data span:first-child {
  color: #000;
}
.connected-customer {
  display: flex;
  align-items: center;
}
.connected-customer span {
  background: #ededed;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  font-size: 13px;
}
.user-data-icon-text {
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 7px;
  display: flex;
  cursor: pointer;
}
.name-data svg {
  position: relative;
  top: 4px;
  font-size: 17px;
}
.baseddata-right.section {
  max-width: 337px;
  margin-right: 23px;
}
.text-close-btn-tms h3 {
  margin: 0;
  font-size: 18px;
  line-height: 19px;
}
.text-close-btn-tms span {
  position: absolute;
  right: 15px;
  top: 22px;
}
.setting-popup-main table {
  width: 100%;
  margin: 20px 0;
}
.setting-popup-main table tr {
  background: #f6f7f9;
  padding: 1px;
  margin: 0 0 2px !important;
  display: flex;
  justify-content: space-between;
}
.setting-popup-main label {
  font-size: 13px;
  padding-bottom: 10px;
}
.setting-popup-main .MuiFormControl-root {
  width: 100%;
}
.cancel-save-btn-main {
  margin: 30px 0;
  text-align: right;
}
.cancel-save-btn-main span {
  border: 1px solid #ddd;
  padding: 6px 20px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}
.cancel-save-btn-main span + span {
  background: #00578a;
  border-radius: 3px;
  border: none;
  color: #fff;
}
.setting-popup-main table tr td {
  font-size: 13px;
  text-transform: capitalize;
  padding: 8px;
}
.setting-button span {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
td.minus-btn-delete {
  cursor: pointer;
}
.setting-button.acticity {
  top: 155px;
  right: 35px;
  z-index:9;
}
.checkbox-main input {
  cursor: pointer;
}
.harder-tabs-main.sore-engine {
  display: flex;
  justify-content: space-between;
}
/* 11/09/23 */
/* 12/09/23 */
.add-transaction-btn button {
  background: rgb(96, 189, 178);
  border: none;
  border-radius: 98px;
  font-size: 18px;
  padding: 8px;
  color: #fff;
  font-weight: 400;
}
.add-transaction-btn {
  margin-right: 18px;
}
/* 12/09/23 */

.approvedB {
  background: rgb(96, 189, 178);
}
.declineB {
  background: rgb(231, 99, 95);
}
.reviewB {
  background: rgb(232, 209, 114);
}

/*muitable*/
.apliedlinechart {
  color: rgb(96, 189, 178);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4666;
  cursor: pointer;
}
.refresh {
  display: flex;
}
.refresh svg {
  margin-top: 21px;
  margin-left: 10px;
  color: rgb(96, 189, 178);
  cursor: pointer;
}
/* date show */
/* .sidefilterdate {
  margin-left: 11%;
} */
.contry-data {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  color: rgb(124, 122, 133);
}
.contry-data .icon-name {
  font-weight: 300;
}
.date-selectdiv {
  border: 1px solid #ddd;
  padding: 16px 7px;
  background: #fff;
}
.trans-sec .Countprogress h5 {
  line-height: 0;
}
.marked-box {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.MuiPaper-root.MuiPaper-elevation table tr th:nth-child(3) button:after,
.MuiPaper-root.MuiPaper-elevation table th:nth-child(4) button:after,
.MuiPaper-root.MuiPaper-elevation table th:nth-child(5) button:after {
  right: -16px;
  left: auto;
}
.MuiPaper-root.MuiPaper-elevation table th button {
  padding-left: 10px;
}

/* 12/09/23 */
.Date-Range {
  display: flex;
  justify-content: space-between;
  margin-left: -8px;
  margin-top: -16px;
  margin-right: -15px;
}

.start-date {
  width: 378px;
  padding: 0px !important;
}
.end-date {
  width: 382px;
  padding: 0px !important;
}
.start-date input {
  width: 98%;
  height: 46px !important;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #ddd;
  padding: 0 4px 0 8px;
  color: #0c0c0c;
}
.end-date input {
  width: 98%;
  height: 46px !important;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid #ddd;
  padding: 0 4px 0 8px;
  color: #0c0c0c;
}
.RiEqualizerLine svg {
  top: 0px !important;
}

/*13/09/23*/
.default-dashboard {
  display: flex;
  justify-content: space-between;
}
.Muidata-table-Allrule {
  margin-inline-end: auto;
  /* margin: 140px; */
}
/* .Muidata-table-Emailrule {
  margin: 140px;
}
.Muidata-table-Iprule {
  margin: 140px;
}
.Muidata-table-phonerule {
  margin: 140px;
}
.Muidata-table-otherrule {
  margin: 140px;
} */
.allrules-text {
  background-color: white;
  border-radius: 109px;
  width: 100px;
  padding: 3px;
}
.emailrules-text {
  background-color: white;
  border-radius: 109px;
  width: 100px;
  padding: 3px;
}
.iprules-text {
  background-color: white;
  border-radius: 109px;
  width: 100px;
  padding: 3px;
}
.phonerules-text {
  background-color: white;
  border-radius: 109px;
  width: 100px;
  padding: 3px;
}
.otherrules-text {
  background-color: white;
  border-radius: 109px;
  width: 100px;
  padding: 3px;
}
/* .Muidata-table-CustomAllrules-test {
  margin: 140px;
} */
/* .Muidata-table-CustomExcluderules-test {
  margin: 140px;
}
.Muidata-table-Genvilo-test {
  margin: 140px;
}
.Muidata-table-CustomTestrule-test {
  margin: 140px;
} */
/* 13/09/23 */

/* 14/09/23 */
.default-dashboard-main .Muidata-table-Allrule .MuiToolbar-root {
  margin: 0;
}

.default-dashboard-main  .default-dashboard ul,
.Customrule-dashboard-main ul {
  display: grid;
  align-items: center;
  list-style: none;
  grid-template-columns: repeat(6, minmax(0px, 1fr));
  padding: 0;
  gap: 4px;
}

.default-dashboard-main .default-dashboard ul li,
.Customrule-dashboard-main ul li {
  color: rgb(40, 42, 46);
  background-color: rgb(255, 255, 255);
  height: 34px;
  padding: 4px 8px 4px 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: flex-start;
  border: 1px solid transparent;
}

.default-dashboard-main .default-dashboard ul li .MuiSvgIcon-root,
.Customrule-dashboard-main ul  .MuiSvgIcon-root {
  margin-right: 8px;
  color: transparent;
  stroke-width: 1px;
  stroke: rgb(193, 199, 211);
  width: 18px;
  height: 18px;
}

.default-dashboard-main .default-dashboard ul li.active,
.Customrule-dashboard-main ul li.active {
  background-color: rgb(235, 241, 255);
  border: 1px solid rgb(60, 114, 255);
}

.default-dashboard-main .default-dashboard ul li.active .MuiSvgIcon-root,
.Customrule-dashboard-main ul li.active .MuiSvgIcon-root {
  stroke: rgb(60, 114, 255);
}
.default-dashboard-main .MuiToolbar-root,
.Customrule-dashboard-main .MuiToolbar-root {
  margin: 0 !important;
}
.default-dashboard-main .default-dashboard ul li:hover,
.Customrule-dashboard-main ul li:hover {
  color: rgb(60, 114, 255);
}

.default-dashboard-main .default-dashboard ul li:hover svg,
.Customrule-dashboard-main ul li:hover svg {
    stroke: rgb(60, 114, 255);
}
.top-headder-back-main .harder-tabs-main.sore-engine {
  max-width: 100%;
}
.default-dashboard-main table tr td.MuiTableCell-root:nth-last-child(2),
.Customrule-dashboard-main table tr td.MuiTableCell-root:nth-last-child(3) {
  color: rgb(218, 56, 48);
}

.default-dashboard-main table tr td.MuiTableCell-root:nth-last-child(2) .tss-1vd39vz-MUIDataTableBodyCell-stackedCommon,
.Customrule-dashboard-main table tr td.MuiTableCell-root:nth-last-child(3) .tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
  padding-left: 10px;
}
/* popup css */
.transaction-popup-main {
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  overflow: hidden;
}

.transaction-popup-main .transaction-popup-inner {
  max-width: 850px;
  width: 100%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 85px;
  border-radius:0 0 4px 4px;
  z-index: 1;
  max-height: 80%;
  overflow-y: auto;
}

.transaction-popup-main .transaction-popup-inner .two-inputs-main {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.transaction-popup-main .transaction-popup-inner .two-inputs-main .input-box-label {
  width: 100%;
  max-width: 49%;
}

.transaction-popup-main .transaction-popup-inner .two-inputs-main .input-box-label label {
  display: block;
  color: #505366;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 8px;
}

.transaction-popup-main .transaction-popup-inner .two-inputs-main .input-box-label input, .transaction-popup-main .transaction-popup-inner .two-inputs-main .input-box-label select {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid #e6ebf4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: var(--genoma-font-size-caption);
  font-family: var(--genoma-font-family);
  background-color: #fff;
  color: var(--genoma-color-base-500);
}

.transaction-popup-main .transaction-popup-inner .add-button button {
  background: #000!important;
  border: none!important;
  color: #fff!important;
  font-weight: 500;
  letter-spacing: .4px;
  line-height: 40px;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  max-width: 150px;
  font-family: 'Roboto';
  margin: 0 0 0 auto;
  display: block;
}
.transaction-popup-main  .add-transaction-form {
  padding: 20px;
}

.transaction-popup-main .headding-close h3 {
  color: #fff;
  margin: 0;
  font-size: 20px;
}
.transaction-popup-main .headding-close {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px 4px 0 0;
  padding: 10px 20px;
  background-color: #000;
  position: relative;
  top: 40px;
}
.transaction-popup-main  .headding-close .close-btn-addtransaction {
  position: absolute;
  top: -10px;
  right: -5px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
div#tab-textdata-id {
  display: flex;
}
div#tab-textdata-id-request {
  display: flex;
}
li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected.MuiMenuItem-root.MuiMenuItem-gutters.Mui-selected.select-none.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  display: none;
}
li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.select-none.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
  display: none;
}
/* 14/09/23 */
/* 15/09/23 */
li.field_add_dropdown {
  padding: 5px 10px!important;
}
.setting-button.detail {
  position: absolute;
  top: 160px;
  z-index: 99999;
  right: 13px !important;
  left: auto;
  cursor: pointer;
}
/* 15/09/23 */

/* filter-custom */
/* filter-custom */
button.cancel_.btn.btn-transparent.text-danger.rounded-0.px-4 {
  background: transparent !important;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100px;
  font-size: 12px;
  padding: 0px 12px;
  margin: 10px;
  text-decoration: none;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgb(40, 42, 46);
  background-color: rgb(255, 255, 255);
  border-color: rgba(20, 21, 23, 0.18);
  border-width: 1px;
  border-style: solid;
  padding: 0px 12px;
  border-radius: 6px;
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px -1px;
  opacity: 1;
  cursor: pointer;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
button.setDate_.btn.btn-transparent.text-primary.rounded-0.px-4.mr-2 {
  /* background: transparent !important; */
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100px;
  font-size: 12px;
  padding: 0px 12px;
  margin: 0px;
  text-decoration: none;
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(60, 114, 255);
  border-color: rgb(60, 114, 255);
  border-width: 1px;
  border-style: solid;
  padding: 0px 12px;
  border-radius: 6px;
  height: 32px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px -1px;
  opacity: 1;
  cursor: pointer;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

/* pdf */
@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: A3;
  margin: 5px 2px !important;
}
/* pdf */
/* 20/09/23 */
.approve-select , .decline-select , .review-select {
  padding: 10px !important;
}
.approve-select span:first-child {
  background: rgb(96 189 178 / 27%);
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50px;
}
.decline-select span:first-child {
  background: rgb(228, 79, 64);
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50px;
}
.review-select span:first-child {
  background: rgb(240, 200, 36);
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50px;
}
.email-info-data {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
::placeholder {
  color: #3333336e !important;
}
.dashboard-rules table th {
  background: #fff;
}
.harder-tabs-main.sore-engine ul {
  margin-left: 10px;
}
.MuiPaper-root.MuiPaper-elevation table th button {
  padding-left: 0;
}
.transaction-dashboard {
  position: relative;
}
.setting-button.add {
  top: 273px;
  right: 35px;
}
.setting-button {
  top: 147px;
  right: 30px;

}
.email-info-main.tds-page .email-not-registered.row.gutters.row-social .world-tds svg {
  color: #000 !important;
}
.coppy-button-request {
  position: absolute;
  right: 48px;
}

.coppy-button {
  position: absolute;
  width: 100%;
  right: -6px;
  top: -208px;
}
.response-coppy-button {
  position: relative;
}
.coppy-button-request button {
  background: rgb(96, 95, 100);
  color: rgb(255, 255, 255);
  height: 29px;
  border-radius:10px;
}
/* ddd  */
.sidefilterr {
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  max-width: 140px;
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  margin: 0 auto 16px;
  cursor: pointer;
}
.trans-acctype-country {
  display: flex;
  width: 100%;
  gap: 15px;
  margin-bottom: 20px;
}

.date-filter-startdatee {
  max-width: 50%;
  flex: 0 0 50%;
}

.trans-acctype-country input {
  width: 100%;
  max-width: 100%;
}

.trans-acctype-country select {
  width: 100%;
}

.date-filter-mainn select {
  width: 100%;
  border: 1px solid #ddd;
  height: 50px !important;
}

.status-country-filterr select {
  width: 100%;
  border: 1px solid #ddd;
  height: 50px !important;;
}

.status-filterr select {
  width: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  height: 50px !important;;
}

.status-country-filterr {
  max-width: 50%;
  flex: 0 0 50%;
}

.date-selectdivv .Trans_30days {
  border: 1px solid #ddd;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 8px;
  background: #fff;
}
.apply-btn-mainnn button {
  background: transparent !important;
  color:#60BDB2 !important;
}
.apply-reset-btnt-trans {
  display: flex;
  margin-bottom: 30px;
  margin-top:20px;
}

.reset-btn-mainnn {
  background: transparent !important;
}

.apply-reset-btnt-trans button {
  background: #60BDB2;
  border: 1px solid #60BDB2;
  height: 45px;
  border-radius: 25px;
  padding: 0 30px;
  color: #FFF;
  font-size: 16px;
}

.datePickerBlockAA {
  padding: 9px;
  box-shadow: 0 0 0 #000, 1px 4px 10px 0px #c5c5c5;
  border-radius: 5px;
  background: #fff;
  z-index: 1;
  position: relative;
}
.datePickerBlockAA .rdrDefinedRangesWrapper{
  font-size: 12px;
  width: 226px;
  border-right: solid 1px #eff2f7;
  background: #fff;
}
.datePickerBlockAA .rdrCalendarWrapper {
  color: #000000;
  font-size: 12px;
  width: 60%;
}
.Trans_30days {
  cursor: pointer;
}
/* ddd */
.zoomIn_and_zoomOut button {
  background: transparent;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  color: #969292;
}

.zoomIn_and_zoomOut {
  border: 1px solid #ddd;
  max-width: 80px;
}

.zoomIn_and_zoomOut button:first-child {
  border-right: 1px solid #ddd;
}
.setting-button.filt {
  top: 357px !important;
}
/* 21/09/23 */
.email-info-data b {
  margin-left: 39px;
}
.setting-button.date {
  top: 805px;
  right: 31px;
}
.dashboard-rules .tss-131sses-MUIDataTable-responsiveScroll {
  width: 100%;
}
.applied-filter-main {
  display: flex;
}
.Muidata-table-Allrule .tss-131sses-MUIDataTable-responsiveScroll {
  max-height: 1000px !important;
  height: 660px !important;
}
/* 21/09/23 */